Bicing_Trips_2021.csv
Bicing_Trips_2022.csv
Bicing_Trips_2023.csv
dataset_generation/temporary_datasets/original_datasets/
.cache.sqlite
2021_01_Gener_BicingNou_ESTACIONS.csv
2021_02_Febrer_BicingNou_ESTACIONS.csv
2021_03_Març_BicingNou_ESTACIONS.csv
2021_04_Abril_BicingNou_ESTACIONS.csv
2021_05_Maig_BicingNou_ESTACIONS.csv
2021_06_Juny_BicingNou_ESTACIONS.csv
2021_07_Juliol_BicingNou_ESTACIONS.csv
2021_08_Agost_BicingNou_ESTACIONS.csv
2021_09_Setembre_BicingNou_ESTACIONS.csv
2021_10_Octubre_BicingNou_ESTACIONS.csv
2021_11_Novembre_BicingNou_ESTACIONS.csv
2021_12_Desembre_BicingNou_ESTACIONS.csv
2022_01_Gener_BicingNou_ESTACIONS.csv
2022_02_Febrer_BicingNou_ESTACIONS.csv
2022_03_Març_BicingNou_ESTACIONS.csv
2022_04_Abril_BicingNou_ESTACIONS.csv
2022_05_Maig_BicingNou_ESTACIONS.csv
2022_06_Juny_BicingNou_ESTACIONS.csv
2022_07_Juliol_BicingNou_ESTACIONS.csv
2022_08_Agost_BicingNou_ESTACIONS.csv
2022_09_Setembre_BicingNou_ESTACIONS.csv
2022_10_Octubre_BicingNou_ESTACIONS.csv
2022_11_Novembre_BicingNou_ESTACIONS.csv
2022_12_Desembre_BicingNou_ESTACIONS.csv
2023_01_Gener_BicingNou_ESTACIONS.csv
2023_02_Febrer_BicingNou_ESTACIONS.csv
2023_03_Marc_BicingNou_ESTACIONS.csv
2023_04_Abril_BicingNou_ESTACIONS.csv
2023_05_Maig_BicingNou_ESTACIONS.csv
2023_06_Juny_BicingNou_ESTACIONS.csv
2023_07_Juliol_BicingNou_ESTACIONS.csv
2023_08_Agost_BicingNou_ESTACIONS.csv
2023_09_Setembre_BicingNou_ESTACIONS.csv
2023_10_Octubre_BicingNou_ESTACIONS.csv
2023_11_Novembre_BicingNou_ESTACIONS.csv
.DS_Store